body {
    background-color: #25274D;
}

label {
    color: white;
}

h2 {
    color: white;
}


.settings-container {
    background-color: #464866;
    border-radius: 6px;
    padding: 16px;
    margin: 20px;
}

.matchups-container {
    background-color: #464866;
    border-radius: 6px;
    margin: 20px;
}

.card {
    color: white;
    width: 80%;
    text-align: center;
    background-color: #888995;
}

.matchup-next-line {
    padding: 0 !important;
}

.match-next-line {
    color: white;
    background-color: white;
    margin-top: 24px;
}

.match-pair-combine {
    border-left: 2px solid white;
    height: 69px;
    margin-top: 30px;
}

.next-match {
    border-bottom: 2px solid white;
    height: 34px;
}

.match-lines-spacer {
    margin-top: 65px;
}

.round-container {
    margin: 10px;
    background-color: #464866;
    border-radius: 6px;
    text-align: center;
}

.matchup-results {
    margin: 10px;
    background-color: #464866;
    border-radius: 6px;
}